Pylette @ git+https://github.com/Nafeij/Pylette
mutagen~=1.46.0
demucs~=4.0.0
argparse~=1.4.0
tinytag~=1.9.0
python-dotenv~=1.0.0
setuptools~=67.7.1
- i https://download.pytorch.org/whl/cu118
torch
torchaudio
